# Study on crude and age standardised death rates(ASDR) due to chronic obstructive pulmonary disease (COPD) for Uganda and USA, 2019

## Analysis Methodology and Results Interpretation

### (i) Steps taken

Three data sources are used as provided. For population data, data having 5-year age groups were used. Pandas library was employed for data loading and manipulation. Separate dataframes were created for Uganda and the USA, incorporating population, chronic obstructive pulmonary disease(COPD) death rates, and the WHO standard population. The UN data was filtered for the two countries and the year 2019, with a new age category ('85+') formed for ages over 85. After removing unnecessary rows and columns for clarity, the UN, WHO, and COPD data were merged for both countries. Then Crude death rates and Age Standardised Death Rates(ASDR) are calculated using formulas below:

 Total deaths, D = (1/100) * Σ(DeathRate_i * Population_i)

Crude_death_rate_per_100000 = (D/Total_population_of_country) * 100000

ASDR = (1/100) * Σ(DeathRate_i * Population_Percentage_i)

### (ii) Assumptions made

Assumptions made are: similar population data was used across the datasets; age standardisation is accurate to adjust for differences in population distributions; population remained stable for the year 2019 across studies.

### (iii) Results interpretation

Crude Death rate per 100000 for Uganda was 5.8 and USA was 57.2. Age Standardised Death Rates(ASDR) for Uganda was 28.7 and for USA was 28.4. The variation can be ascribed to diverse factors. Population demographics play a pivotal role, with Uganda boasting a younger populace compared to the USA. This makes crude deaths higher in USA as it has more aged population who are more vulnerable to COPD. Convergence of ASDR can be due to advanced healthcare infrastructure in the USA facilitates improved COPD diagnosis and management, whereas Uganda grapples with disparities. Divergent risk factors like smoking and environmental pollutants further shape COPD prevalence. Discrepancies in data collection and socioeconomic disparities also influence mortality rates, accentuating the complexity of global health outcomes.

## 1. Loading Libraries (Pandas is all you need ;))

In [76]:
import pandas as pd

## 2. Loading Datasets using pandas

In [249]:
#Loading age specific death rate due to COPD
# Data accessed from https://owid.notion.site/Data-analysis-exercise-Our-World-in-Data-Junior-Data-Scientist-application-ab287a3c07264b4d91aadc436021b8c0
DR_COPD = pd.read_csv('/Users/abhishek/Downloads/Age_specific_DR_COPD_2019.csv')

In [250]:
DR_COPD.head(20)

,Age group (years),"Death rate, United States, 2019","Death rate, Uganda, 2019"
0,0-4,0.04,0.40
1,5-9,0.02,0.17
2,10-14,0.02,0.07
3,15-19,0.02,0.23
4,20-24,0.06,0.38
5,25-29,0.11,0.40
6,30-34,0.29,0.75
7,35-39,0.56,1.11
8,40-44,1.42,2.04
9,45-49,4.00,5.51
10,50-54,14.13,13.26
11,55-59,37.22,33.25
12,60-64,66.48,69.62
13,65-69,108.66,120.78
14,70-74,213.10,229.88
15,75-79,333.06,341.06
16,80-84,491.10,529.31
17,85+,894.45,710.40

In [212]:
#Renaming Age group column as this will be used for joining dataframes
DR_COPD = DR_COPD.rename(columns={'Age group (years)': 'Age group'})

In [213]:
#Loading WHO age standardised population data
# Data accessed from https://cdn.who.int/media/docs/default-source/gho-documents/global-health-estimates/gpe_discussion_paper_series_paper31_2001_age_standardization_rates.pdf
who = pd.read_csv('/Users/abhishek/Downloads/WHO_age_standardisation.csv')

In [214]:
who.head(20)

,Age group,Segi (“world”) standard,Scandinavian (“European”) standard,WHO World Standard
0,0-4,12.0,8,8.86
1,5-9,10.0,7,8.69
2,10-14,9.0,7,8.60
3,15-19,9.0,7,8.47
4,20-24,8.0,7,8.22
5,25-29,8.0,7,7.93
6,30-34,6.0,7,7.61
7,35-39,6.0,7,7.15
8,40-44,6.0,7,6.59
9,45-49,6.0,7,6.04
10,50-54,5.0,7,5.37
11,55-59,4.0,6,4.55
12,60-64,4.0,5,3.72
13,65-69,3.0,4,2.96
14,70-74,2.0,3,2.21
15,75-79,1.0,2,1.52
16,80-84,0.5,1,0.91
17,85+,0.5,1,0.63

In [215]:
# UN World Population Prospects 2022
# Population data used here can be downloaded from https://population.un.org/wpp/Download/Standard/CSV/#:~:text=1950%2D2100%2C%20medium%20(ZIP%2C%2012.38%20MB)
# Data from this source has 'AgeGrp' where population is divided into 5 year age groups 
popln = pd.read_csv('/Users/abhishek/Downloads/WPP2022_PopulationByAge5GroupSex_Medium.csv')

/var/folders/_r/ljpx067s0lgcm5t_7q4q59q40000gn/T/ipykernel_26941/3538975166.py:4: DtypeWarning: Columns (2,3,4) have mixed types. Specify dtype option on import or set low_memory=False.
  popln = pd.read_csv('/Users/abhishek/Downloads/WPP2022_PopulationByAge5GroupSex_Medium.csv')

In [216]:
print(popln.columns.values)

['SortOrder' 'LocID' 'Notes' 'ISO3_code' 'ISO2_code' 'SDMX_code'
 'LocTypeID' 'LocTypeName' 'ParentID' 'Location' 'VarID' 'Variant' 'Time'
 'MidPeriod' 'AgeGrp' 'AgeGrpStart' 'AgeGrpSpan' 'PopMale' 'PopFemale'
 'PopTotal']

## 3. Processing Data

In [ ]:
###  DATA PROCESSING STEPS ARE AS FOLLOWS ###
# 1. Create separate dataframes for USA and Uganda population to make understanding data easy
# 2. Filter Location for the two countries and Time (year) as 2019
# 3. Remove columns not necessary
# 4. Since WHO and COPD data has all age groups above 85 under one category of '85+',
# we need to group all ages under 85+ in the population data too
# This is done by creating a new row as dataframe which sums up all ages above 85
# and concatenating it with original data as new row. Then remove the rows used for calucaltion
# 5. Merge WHO and COPD dataframes with the two countries separately for easier calculation

In [217]:
# Filtering and saving data related to Uganda for the year 2019
popln_uganda = popln[(popln['Location'] == 'Uganda') & (popln['Time'] == 2019)]

In [219]:
# Using filter() to keep only desired columns
popln_uganda = popln_uganda.filter(['Location', 'AgeGrp', 'PopTotal'])

In [220]:
popln_uganda.head(25)

       Location AgeGrp  PopTotal
128289   Uganda    0-4  7328.968
128290   Uganda    5-9  6614.421
128291   Uganda  10-14  5899.400
128292   Uganda  15-19  5151.082
128293   Uganda  20-24  4348.173
128294   Uganda  25-29  3499.504
128295   Uganda  30-34  2618.559
128296   Uganda  35-39  1903.175
128297   Uganda  40-44  1503.669
128298   Uganda  45-49  1234.979
128299   Uganda  50-54   952.867
128300   Uganda  55-59   687.315
128301   Uganda  60-64   500.298
128302   Uganda  65-69   353.221
128303   Uganda  70-74   197.171
128304   Uganda  75-79    92.682
128305   Uganda  80-84    43.893
128306   Uganda  85-89    15.425
128307   Uganda  90-94     3.564
128308   Uganda  95-99     0.617
128309   Uganda   100+     0.096

In [221]:
#Creating Age group of 85+ for making it similar to CPOD and WHO data
# Summing up Population in age categories from 85 upwards as 85+
popln_85_above_uganda = popln_uganda['PopTotal'].tail(4).sum()

In [222]:
# New dataframe where 85+ population is stored as row
df_popln_85_above_uganda = pd.DataFrame([['Uganda','85+',popln_85_above_uganda]], columns=['Location','AgeGrp','PopTotal'])

In [223]:
# Removing all rows above 85 under AgeGrp from original dataframe
popln_uganda = popln_uganda[~popln_uganda['AgeGrp'].isin(['85-89', '90-94', '95-99', '100+'])]

In [224]:
# Concatenating two dataframes so that we get standard Age groups
popln_uganda = pd.concat([popln_uganda, df_popln_85_above_uganda])

In [225]:
#Renaming the AgeGrp column to Age group
popln_uganda = popln_uganda.rename(columns={'AgeGrp': 'Age group'})

In [248]:
popln_uganda.head(20)

       Location Age group  PopTotal
128289   Uganda       0-4  7328.968
128290   Uganda       5-9  6614.421
128291   Uganda     10-14  5899.400
128292   Uganda     15-19  5151.082
128293   Uganda     20-24  4348.173
128294   Uganda     25-29  3499.504
128295   Uganda     30-34  2618.559
128296   Uganda     35-39  1903.175
128297   Uganda     40-44  1503.669
128298   Uganda     45-49  1234.979
128299   Uganda     50-54   952.867
128300   Uganda     55-59   687.315
128301   Uganda     60-64   500.298
128302   Uganda     65-69   353.221
128303   Uganda     70-74   197.171
128304   Uganda     75-79    92.682
128305   Uganda     80-84    43.893
0        Uganda       85+    19.702

In [227]:
### All the steps used to process Uganda was done for USA as well ###

#Filtering and saving data related to United States of America for the year 2019
popln_usa = popln[(popln['Location'] == 'United States of America') & (popln['Time'] == 2019)]

In [228]:
popln_usa = popln_usa.filter(['Location', 'AgeGrp', 'PopTotal'])

In [230]:
popln_85_above_usa = popln_usa['PopTotal'].tail(4).sum()

In [231]:
new_row_usa = {'Location': 'United States of America', 'AgeGrp': '85+', 'PopTotal': popln_85_above_usa}
df_popln_85_above_usa = pd.DataFrame([['United States of America','85+',popln_85_above_usa]], columns=['Location','AgeGrp','PopTotal'])

In [232]:
popln_usa = popln_usa[~popln_usa['AgeGrp'].isin(['85-89', '90-94', '95-99', '100+'])]

In [233]:
popln_usa = pd.concat([popln_usa, df_popln_85_above_usa])

In [234]:
popln_usa = popln_usa.rename(columns={'AgeGrp': 'Age group'})

In [235]:
popln_usa.head(20)

                        Location Age group   PopTotal
813225  United States of America       0-4  19848.556
813226  United States of America       5-9  20697.075
813227  United States of America     10-14  22092.167
813228  United States of America     15-19  21895.123
813229  United States of America     20-24  21871.808
813230  United States of America     25-29  23406.928
813231  United States of America     30-34  22842.151
813232  United States of America     35-39  22296.952
813233  United States of America     40-44  20694.555
813234  United States of America     45-49  21244.258
813235  United States of America     50-54  21346.434
813236  United States of America     55-59  22347.500
813237  United States of America     60-64  20941.064
813238  United States of America     65-69  17500.872
813239  United States of America     70-74  13688.595
813240  United States of America     75-79   9272.809
813241  United States of America     80-84   6118.867
0       United States of America       85+   6213.954

In [236]:
# Merging COPD, WHO with Population data of Uganda and USA for making calculations easier

COPD_uganda = pd.merge(DR_COPD, who, on='Age group')
COPD_uganda = pd.merge(COPD_uganda, popln_uganda, on='Age group')

In [237]:
COPD_usa = pd.merge(DR_COPD, who, on='Age group')
COPD_usa = pd.merge(COPD_usa, popln_usa, on='Age group')

In [238]:
COPD_uganda.head(20)

,Age group,"Death rate, United States, 2019","Death rate, Uganda, 2019",Segi (“world”) standard,Scandinavian (“European”) standard,WHO World Standard,Location,PopTotal
0,0-4,0.04,0.40,12.0,8,8.86,Uganda,7328.968
1,5-9,0.02,0.17,10.0,7,8.69,Uganda,6614.421
2,10-14,0.02,0.07,9.0,7,8.60,Uganda,5899.400
3,15-19,0.02,0.23,9.0,7,8.47,Uganda,5151.082
4,20-24,0.06,0.38,8.0,7,8.22,Uganda,4348.173
5,25-29,0.11,0.40,8.0,7,7.93,Uganda,3499.504
6,30-34,0.29,0.75,6.0,7,7.61,Uganda,2618.559
7,35-39,0.56,1.11,6.0,7,7.15,Uganda,1903.175
8,40-44,1.42,2.04,6.0,7,6.59,Uganda,1503.669
9,45-49,4.00,5.51,6.0,7,6.04,Uganda,1234.979
10,50-54,14.13,13.26,5.0,7,5.37,Uganda,952.867
11,55-59,37.22,33.25,4.0,6,4.55,Uganda,687.315
12,60-64,66.48,69.62,4.0,5,3.72,Uganda,500.298
13,65-69,108.66,120.78,3.0,4,2.96,Uganda,353.221
14,70-74,213.10,229.88,2.0,3,2.21,Uganda,197.171
15,75-79,333.06,341.06,1.0,2,1.52,Uganda,92.682
16,80-84,491.10,529.31,0.5,1,0.91,Uganda,43.893
17,85+,894.45,710.40,0.5,1,0.63,Uganda,19.702

In [239]:
COPD_usa.head(20)

,Age group,"Death rate, United States, 2019","Death rate, Uganda, 2019",Segi (“world”) standard,Scandinavian (“European”) standard,WHO World Standard,Location,PopTotal
0,0-4,0.04,0.40,12.0,8,8.86,United States of America,19848.556
1,5-9,0.02,0.17,10.0,7,8.69,United States of America,20697.075
2,10-14,0.02,0.07,9.0,7,8.60,United States of America,22092.167
3,15-19,0.02,0.23,9.0,7,8.47,United States of America,21895.123
4,20-24,0.06,0.38,8.0,7,8.22,United States of America,21871.808
5,25-29,0.11,0.40,8.0,7,7.93,United States of America,23406.928
6,30-34,0.29,0.75,6.0,7,7.61,United States of America,22842.151
7,35-39,0.56,1.11,6.0,7,7.15,United States of America,22296.952
8,40-44,1.42,2.04,6.0,7,6.59,United States of America,20694.555
9,45-49,4.00,5.51,6.0,7,6.04,United States of America,21244.258
10,50-54,14.13,13.26,5.0,7,5.37,United States of America,21346.434
11,55-59,37.22,33.25,4.0,6,4.55,United States of America,22347.500
12,60-64,66.48,69.62,4.0,5,3.72,United States of America,20941.064
13,65-69,108.66,120.78,3.0,4,2.96,United States of America,17500.872
14,70-74,213.10,229.88,2.0,3,2.21,United States of America,13688.595
15,75-79,333.06,341.06,1.0,2,1.52,United States of America,9272.809
16,80-84,491.10,529.31,0.5,1,0.91,United States of America,6118.867
17,85+,894.45,710.40,0.5,1,0.63,United States of America,6213.954

## 4. Crude Death Rates

In [ ]:
# The formula used for total deaths (D) is: 

# D = (1/100) * Σ(DeathRate_i * Population_i)

# 1/100 is used here for unit conversion as deaths were per 100000 and 
# population is provided in thousands

# Crude_death_rate_per_100000 = (D/Total_population_of_country) * 100000

In [240]:
#calculation of crude death rates

#Total deaths in Uganda
COPD_uganda['Total Deaths'] = (COPD_uganda['Death rate, Uganda, 2019'] * COPD_uganda['PopTotal']) / 100
total_deaths_uganda = COPD_uganda['Total Deaths'].sum()
# Total population of Uganda as of 2019
total_population_uganda = (COPD_uganda['PopTotal'].sum())*1000
# Crude death rate per 100000 Uganda
crude_death_rate_uganda = round(total_deaths_uganda/total_population_uganda*100000, 1)
print("Crude Death Rates for Uganda per 100000:", crude_death_rate_uganda)

Crude Death Rates for Uganda per 100000: 5.8

In [241]:
#Crude death rate per 100000 USA
COPD_usa['Total Deaths'] = (COPD_usa['Death rate, United States, 2019'] * COPD_usa['PopTotal']) / 100
total_deaths_usa = COPD_usa['Total Deaths'].sum()
# Total population of USA as of 2019
total_population_usa = (COPD_usa['PopTotal'].sum())*1000
# Crude death rate per 100000 USA
crude_death_rate_usa = round(total_deaths_usa/total_population_usa*100000, 1)
print("Crude Death Rates for USA per 100000:", crude_death_rate_usa)

Crude Death Rates for USA per 100000: 57.2

## 5. Age Standardised Death Rates

In [ ]:
# For the Age Standardized Death Rate (ASDR) per 100000, the formula is: 

# ASDR = (1/100) * Σ(DeathRate_i * Population_Percentage_i)

In [242]:
# Calculating Age Standardised Death Rates (ASDR)

COPD_uganda['ASDR'] = (COPD_uganda['Death rate, Uganda, 2019'] * COPD_uganda['WHO World Standard'])/100

COPD_usa['ASDR'] = (COPD_usa['Death rate, United States, 2019'] * COPD_uganda['WHO World Standard'])/100

In [245]:
ASDR_uganda = COPD_uganda['ASDR'].sum()
ASDR_uganda = round(ASDR_uganda, 1)
ASDR_usa = COPD_usa['ASDR'].sum()
ASDR_usa = round(ASDR_usa, 1)

In [247]:
print("ASDR Uganda per 100000:", ASDR_uganda)
print("ASDR USA per 100000:", ASDR_usa)

ASDR Uganda per 100000: 28.7
ASDR USA per 100000: 28.4